.pill-button {
    display: inline-block;
    padding: 15px 35px;
    /* Increase padding to make it bigger */
    border-radius: 40px;
    /* Adjust border-radius to make it bigger */
    background-color: #3671E9;
    color: #fff;
    text-decoration: none;
}

body {
    background: linear-gradient(to top, #1a0467, #4A03A6);

}


.pill-button:hover {
    background-color: #1F4AC8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

}

.logo {
    margin-right: auto;
    position: absolute;
    top: 1%;
    left: 1%;
    width: 50%;
    height: 0%;
    z-index: 1;
}

.nav {
    margin-left: auto;
    position: absolute;
    top: 8%;
    left: 50%;
    width: 50%;
    height: 0%;
    z-index: 1;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 10px;
    margin-right: 20px;
}

.nav li a {
    color: #fff;
    /* Set the color to white */
    text-decoration: none;
    /* Remove underline */
}

.video-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    mix-blend-mode: screen;
    z-index: -1;

}

.video-background iframe {
    position: relative;
    width: 100%;
    height: 100%;
}


.video-text {
    position: absolute;
    top: 70%;
    left: 25%;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #fff;
}

.video-text h1 {
    margin: auto;
    line-height: 50px;
    vertical-align: middle;
    font-size: 32px;
    margin-bottom: 10px;
}




.content {
    position: relative;
    z-index: 1;
}

.section-2 {
    display: flex;
    background: linear-gradient(to top, #1a0467, #4A03A6);
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
}

.section-2 p {
    width: 50%;
    margin-left: 30%;
    font-size: 20pt;
    text-align: center;
    color: #fff;
    margin-right: 10%;
}

.section-2 h1 {
    width: 60%;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-left: 25%;
    margin-right: 10%;
}

#learn-more {
    margin-left: 48%;
    margin-right: 10%;
}

.piggy {
    position: relative;
    width: 400px;
    height: 400px;
    margin-left: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    z-index: 1;
}